# Zabbix configuration
zabbix_url: "https://zabbix.example.com/"
zabbix_token: ""
# ZABBIX_USER: ""
# ZABBIX_PASSWORD: ""

# Git configuration
remoter: "git@github.com/org/repo.git"
pull_branch: "main"
push_branch: "main"
git_prefix_path: ""

git_username: "git"
git_password: None
git_pubkey: ~/.ssh/id_ed25519.pub
git_privkey: ~/.ssh/id_ed25519
git_keypassphrase: None

# ZabbixCI configuration
parent_group: "Templates"
whitelist: "name1,name2,name3"
blacklist: ""
batch_size: 50
